truth_E,jet_CamKt12Truth_E,20,0,1700,
topo_E,jet_CamKt12LCTopo_E,20,0,1700,
groomed_E,jet_CamKt12LCTopoSplitFilteredMu67SmallR0YCut9_E,20,0,1700,
truth_pt,jet_CamKt12Truth_pt,20,0,1200,
topo_pt,jet_CamKt12LCTopo_pt,20,0,1200,
groomed_pt,jet_CamKt12LCTopoSplitFilteredMu67SmallR0YCut9_pt,20,0,1200,
truth_m,jet_CamKt12Truth_m,20,0,120,
topo_m,jet_CamKt12LCTopo_m,20,0,120,
groomed_m,jet_CamKt12LCTopoSplitFilteredMu67SmallR0YCut9_m,20,0,120,
truth_eta,jet_CamKt12Truth_eta,20,-5,5,
topo_eta,jet_CamKt12LCTopo_eta,20,-5,5,
groomed_eta,jet_CamKt12LCTopoSplitFilteredMu67SmallR0YCut9_eta,20,-5,5,
truth_phi,jet_CamKt12Truth_phi,20,-4,4,
topo_phi,jet_CamKt12LCTopo_phi,20,-4,4,
groomed_phi,jet_CamKt12LCTopoSplitFilteredMu67SmallR0YCut9_phi,20,-4,4,
topo_emfrac,jet_CamKt12LCTopo_emfrac,20,-2,2,
groomed_emfrac,jet_CamKt12LCTopoSplitFilteredMu67SmallR0YCut9_emfrac,20,-2,2,
truth_Tau1,jet_CamKt12Truth_Tau1,20,0,1,
topo_Tau1,jet_CamKt12LCTopo_Tau1,20,0,1,
groomed_Tau1,jet_CamKt12LCTopoSplitFilteredMu67SmallR0YCut9_Tau1,20,0,1,
truth_Tau2,jet_CamKt12Truth_Tau2,20,0,100,
topo_Tau2,jet_CamKt12LCTopo_Tau2,20,0,100,
groomed_Tau2,jet_CamKt12LCTopoSplitFilteredMu67SmallR0YCut9_Tau2,20,0,100,
truth_Tau3,jet_CamKt12Truth_Tau3,20,0,1,
topo_Tau3,jet_CamKt12LCTopo_Tau3,20,0,1,
groomed_Tau3,jet_CamKt12LCTopoSplitFilteredMu67SmallR0YCut9_Tau3,20,0,1,
truth_WIDTH,jet_CamKt12Truth_WIDTH,20,0,0.3,
topo_WIDTH,jet_CamKt12LCTopo_WIDTH,20,0,0.3,
groomed_WIDTH,jet_CamKt12LCTopoSplitFilteredMu67SmallR0YCut9_WIDTH,20,0,0.3,
truth_SPLIT12,jet_CamKt12Truth_SPLIT12,20,0,90,
topo_SPLIT12,jet_CamKt12LCTopo_SPLIT12,20,0,90,
groomed_SPLIT12,jet_CamKt12LCTopoSplitFilteredMu67SmallR0YCut9_SPLIT12,20,0,90,
truth_SPLIT23,jet_CamKt12Truth_SPLIT23,20,0,30,
topo_SPLIT23,jet_CamKt12LCTopo_SPLIT23,20,0,30,
groomed_SPLIT23,jet_CamKt12LCTopoSplitFilteredMu67SmallR0YCut9_SPLIT23,20,0,30,
truth_SPLIT34,jet_CamKt12Truth_SPLIT34,20,0,15,
topo_SPLIT34,jet_CamKt12LCTopo_SPLIT34,20,0,15,
groomed_SPLIT34,jet_CamKt12LCTopoSplitFilteredMu67SmallR0YCut9_SPLIT34,20,0,15,
truth_Dip12,jet_CamKt12Truth_Dip12,20,-2,5,
topo_Dip12,jet_CamKt12LCTopo_Dip12,20,-2,5,
groomed_Dip12,jet_CamKt12LCTopoSplitFilteredMu67SmallR0YCut9_Dip12,20,-2,5,
truth_Dip13,jet_CamKt12Truth_Dip13,20,-2,5,
topo_Dip13,jet_CamKt12LCTopo_Dip13,20,-2,5,
groomed_Dip13,jet_CamKt12LCTopoSplitFilteredMu67SmallR0YCut9_Dip13,20,-2,5,
truth_Dip23,jet_CamKt12Truth_Dip23,20,-2,10,
topo_Dip23,jet_CamKt12LCTopo_Dip23,20,-2,10,
groomed_Dip23,jet_CamKt12LCTopoSplitFilteredMu67SmallR0YCut9_Dip23,20,-2,10,
truth_DipExcl12,jet_CamKt12Truth_DipExcl12,20,-2,5,
topo_DipExcl12,jet_CamKt12LCTopo_DipExcl12,20,-2,5,
groomed_DipExcl12,jet_CamKt12LCTopoSplitFilteredMu67SmallR0YCut9_DipExcl12,20,-2,5,
truth_PlanarFlow,jet_CamKt12Truth_PlanarFlow,20,0,1,
topo_PlanarFlow,jet_CamKt12LCTopo_PlanarFlow,20,0,1,
groomed_PlanarFlow,jet_CamKt12LCTopoSplitFilteredMu67SmallR0YCut9_PlanarFlow,20,0,1,
truth_Angularity,jet_CamKt12Truth_Angularity,20,-1500,100,
topo_Angularity,jet_CamKt12LCTopo_Angularity,20,-1500,100,
groomed_Angularity,jet_CamKt12LCTopoSplitFilteredMu67SmallR0YCut9_Angularity,20,-1500,100,
truth_QW,jet_CamKt12Truth_QW,20,0,150,
topo_QW,jet_CamKt12LCTopo_QW,20,0,150,
groomed_QW,jet_CamKt12LCTopoSplitFilteredMu67SmallR0YCut9_QW,20,0,150,
truth_PullMag,jet_CamKt12Truth_PullMag,20,-1500,100,
topo_PullMag,jet_CamKt12LCTopo_PullMag,20,-1500,100,
groomed_PullMag,jet_CamKt12LCTopoSplitFilteredMu67SmallR0YCut9_PullMag,20,-1500,100,
truth_PullPhi,jet_CamKt12Truth_PullPhi,20,-1500,100,
topo_PullPhi,jet_CamKt12LCTopo_PullPhi,20,-1500,100,
groomed_PullPhi,jet_CamKt12LCTopoSplitFilteredMu67SmallR0YCut9_PullPhi,20,-1500,100,
truth_Pull_C00,jet_CamKt12Truth_Pull_C00,20,-1500,100,
topo_Pull_C00,jet_CamKt12LCTopo_Pull_C00,20,-1500,100,
groomed_Pull_C00,jet_CamKt12LCTopoSplitFilteredMu67SmallR0YCut9_Pull_C00,20,-1500,100,
truth_Pull_C01,jet_CamKt12Truth_Pull_C01,20,-1500,100,
topo_Pull_C01,jet_CamKt12LCTopo_Pull_C01,20,-1500,100,
groomed_Pull_C01,jet_CamKt12LCTopoSplitFilteredMu67SmallR0YCut9_Pull_C01,20,-1500,100,
truth_Pull_C10,jet_CamKt12Truth_Pull_C10,20,-1500,100,
topo_Pull_C10,jet_CamKt12LCTopo_Pull_C10,20,-1500,100,
groomed_Pull_C10,jet_CamKt12LCTopoSplitFilteredMu67SmallR0YCut9_Pull_C10,20,-1500,100,
truth_Pull_C11,jet_CamKt12Truth_Pull_C11,20,-1500,100,
topo_Pull_C11,jet_CamKt12LCTopo_Pull_C11,20,-1500,100,
groomed_Pull_C11,jet_CamKt12LCTopoSplitFilteredMu67SmallR0YCut9_Pull_C11,20,-1500,100,
